* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #fff; */
  background-image: linear-gradient(to left, #fefae0, #faedcd, #d4a373);
  font-family: sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin-bottom: 10px;
}
.clicked-cell {
  background-color: #f7f7f7;
}
.mine {
  background-color: #900000;
}
.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  text-align: center;
  cursor: pointer;
  /* border: 1px solid black; */
  margin: 0 auto;
  box-shadow: 0 16px 32px rgb(0, 0, 0, 0.5);
}

td {
  height: 40px;
  width: 40px;
  background-color: rgb(187, 187, 187);
  /* border: 0.5px solid black; */
}

.btn {
  font-size: 20px;

  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.btn:active {
  transform: translateY(3px);
}

.restart {
  margin-bottom: 10px;
}
.restart:hover {
  transform: scale(1.5);
}

.btns {
  margin-bottom: 10px;
  transition: opacity 1s;
}
.btns .btn {
  margin-left: 10px;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1.5;
  background-image: linear-gradient(to top left, #caf0f8, #48cae4);
  transition: all 1s;

  border-radius: 10px;
}
.btns .btn:hover {
  box-shadow: 0 16px 32px rgb(0, 0, 0, 0.5);
}
.hint-show {
  background-image: linear-gradient(to top left, #ffba08, #fffffc);
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

.num1 {
  color: blue;
}
.num2 {
  color: green;
}
.num3 {
  color: red;
}
.num4 {
  color: purple;
}
.num5 {
  color: maroon;
}
.num6 {
  color: turquoise;
}
.num7 {
  color: black;
}
.num8 {
  color: gray;
}
